* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

header{
    background-color: gray;
}


.header-nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    text-transform: uppercase;
}

.header-nav-logoContenedor {
    display: flex;
}