<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Recetas</title>
</head>
<body>
    <main style="max-width: 800px; margin: auto;">
        <header class="header-container">
            <nav class="nav-header1">
                <a href="/index.html"> <img class="nav-logo"  src="/assets/logo1.png" alt="logo website"></a>
                <a class="nav-a" href="/index.html">Recetini</a>
                <a class="nav-a" href="/views/nosotros.html">Nosotros</a>
                <a class="nav-a" href="/views/recetas.html">Recetas</a>
                <a class="nav-a" href="/views/tags.html">Tags</a>
                <a class="nav-a-right" href="/views/contacto.html">Contacto</a>
            </nav>
            <nav class="nav-header2">
                
            </nav>        
        </header>
    
    <section>
    
        <div class="section1-img"> 
            <img class="section1-img" src="/assets/main.png" alt="main image">
            <div class="section1-p">Las mejores recetas italianas</div>
    
        </div>
    </section>
</main>


<footer class="footer">
    <p class="footer-p">&copy; 2024 <span style="color: white;">Recetini</span> hecho por <span style="color: white;"">Andres Grajeda</span></p>
</footer>
    <script src="/js/app.js"></script>
</body>
</html>